* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.appFlex{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}
nav {
    background: #000c14;
}
footer {
    background: #000c14;
}
.main-stuff {
    background: papayawhip;
    flex-grow: 1;
}
