* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.appFlex{
    border: 2px dashed blue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-stuff {
    border: 2px solid red;
    flex-grow: 1;
}
footer{
    background-color: lightblue;
}